{% extends "layout.html" %}
{% block body %}
  <a href="/">← Back to challenges</a>
 
  <div class="challenge">
    {{ content|safe }}

    <h3>Puzzle Input</h3>
    <p><a href="/input/{{ day }}" target="_blank">📁 Input File ({{ day }}.txt)</a></p>
  

  {% if user %}
    {% if is_solved %}
      <p class="solved">You already solved this! ⭐</p>
    {% else %}
      <br></br>
      <form method="post" action="/submit/{{ day }}">
        <label>Enter your answer:</label>
        <input name="answer" required />
        <button type="submit">Submit</button>
      </form>
    </div>
    {% endif %}
  {% else %}
    <p><a href="/login">Login</a> to submit an answer and track progress.</p>
  {% endif %}
{% endblock %}